@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url("../fonts/raleway-medium-webfont.woff2") format("woff2"),
         url("../fonts/raleway-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #999;
}
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block !important;
    visibility: visible !important;
}
input[type="date"], focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-columns {
    column-count: 3;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    color: #666;
    font-family: 'ralewayregular', sans-serif;
    background: url('../img/main-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
textarea {
    resize: vertical;
}
label {
	user-select: none;
}
input,
button {
    outline: none;
    border: none;
}
button {
    background-color: transparent;
    cursor: pointer;
}
button:hover,
button:active,
button:focus  {
    outline: none!important;
}
.container {
    padding-top: 90px;
}
.header {
	position: fixed;
	top: 0;
    left: 0;
	right: 0;
	z-index: 999;
	background-color: transparent;
	padding: 15px 50px;
}
.wrapper {
	height: 100vh;
	padding-left: 15px;
	padding-right: 15px;
}
.auth-container {
    max-width: 770px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .06);
}
.header-control-btn {
    display: inline-block;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 0.75rem;
    color: #999;
    padding: 15px 40px;
    background-color: #fff;
    border: 1px solid #eceff3;
    border-radius: 2px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .06);
    text-transform: uppercase;
    transition: all .2s ease-in;
}
.header-control-btn + .header-control-btn {
    margin-left: 25px;
}
.header-control-btn:hover {
    background-color: #1585ff;
    border-color: #1585ff;
    box-shadow: none;
    color: #fff;
}
.auth-body {
    padding: 35px 40px;
}
.form-group label {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'ralewayregular', sans-serif;
    font-size: 0.875rem;
}
.form-control {
    width: 100%;
    height: 64px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'ralewayregular', sans-serif;
    font-size: 0.875rem;
    color: #999;
    border: 1px solid #ededed;
    border-radius: 2px;
    background-color: #f9f9f9;
    transition: all .2s ease-in;
}
.form-control:focus {
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .08);
}
.form-group + .form-group {
    margin-top: 18px;
}
.submit-btn {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: .75rem;
    color: #0099ff;
    border: 1px solid #ccccff;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .06);
    background-color: #fff;
    transition: all .2s ease-in .2s;
    overflow: hidden;
}
.submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0099ff;
    transition: all .2s ease-in;
    transform: translateX(-100%);
}
.submit-btn:hover {
    color: #fff;
}
.submit-btn:hover::before {
    transform: translateX(0);
}
.submit-btn span {
    position: relative;
    z-index: 1;
}
.author {
    font-family: 'Alex Brush', cursive;
    font-size: 20px;
    color: #000;
    position: fixed;
    bottom: 5px;
    right: 15px;
}

