<div class="wrapper d-flex align-items-center">
    <div class="auth-container mx-auto">
        <div class="auth-body">
            <form name="login">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                           placeholder="Enter password">
                </div>
                <!-- /.form-group -->
                <div class="form-footer d-flex align-items-center">
                    <button class="submit-btn">
                        <span>Login</span>
                    </button>
                </div>
                <!-- /.form-footer -->
            </form>
        </div>
        <!-- /.auth-body -->
    </div>
    <!-- /.auth-container -->
</div>
<!-- /.wrapper -->