<div class="wrapper d-flex align-items-center">
    <div class="auth-container mx-auto">
        <div class="auth-body">
            <form name="newTask">
                <div class="form-group">
                    <label for="header">Header</label>
                    <input type="text" class="form-control" id="header" placeholder="Enter Header">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="details">Details</label>
                    <textarea class="form-control" id="details" placeholder="Details"></textarea>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" class="form-control" id="deadline">
                </div>
                <!-- /.form-group -->
                <div class="form-footer d-flex align-items-center">
                    <button class="submit-btn">
                        <span>Submit</span>
                    </button>
                </div>
                <!-- /.form-footer -->
            </form>
        </div>
        <!-- /.auth-body -->
    </div>
    <!-- /.auth-container -->
</div>
<!-- /.wrapper -->